body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  
}

.container {
  float: left;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%,-50%);

}

#image {
  width: 500px;
  height: 500px;
  content-fit: cover;
  margin: 0;
  padding: 0;
}

.container:hover > .img_details {
  width: 500px;
  height: 500px;
  margin: 0;
  top: 0;
  background-color: rgba(255,255,255,0.8);
  color: white;
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transition-duration: 0.3s;
}

.img_details {
  width: 500px;
  height: 500px;
  margin: 0;
  top: 0;
  background-color: rgba(255,255,255,0.8);
  color: white;
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  opacity: 0;

  transition-duration: 0.3s;
}
.img_details p {
  margin: 0;
  padding: 0px 15px 0px 15px;
  flex-grow: 1;
}

#city_name {
  font-size: 50px;
  flex: 0.2;
  font-weight: 700;
  color: #f54242;
}
#country {
  flex: 0.2;
  font-size: 25px;
  font-weight: 400;
  color: #242424;
}
#caption {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  color: black;
}
#credits {
  flex: 0.1;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
}
